@charset "UTF-8";

.container{
	display:flex;
	width: 100%;
}
/*************************CAROUSEL STYLES***********************/
.carousel__container{
	position:absolute;
}
.carousel__next,
.carousel__back{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	border:none;
	top:50%;
	cursor:pointer;
	line-height:100%;
	text-align:center;
	background:none;
	color:#fff;
	opacity:20%;
}

.carousel__next:hover,
.carousel__back:hover{
	opacity:100%;	
}
.carousel__list{
	overflow:hidden;
}
.carousel__text{
	position:center;
}
.carousel__element{
	text-align:center;
}