<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<meta charset="UTF-8">
<title>InSub-Edit Student-</title>
</head>
<body>
	<header th:insert="fragments/menuadmin.html :: 'menuad'" ></header>
	<div class="container" >
	<form th:action="@{|/api/admin/editStud/${student.id}|}" method="POST" th:objet="${student}">
	    <div class="form-group row">
	      <label for="name">Name</label>
	      <input type="text" class="form-control" id="name" name="name" th:value="*{name}" th:placeholder="${student.name}">
	    </div>
	    <div class="form-group row">
	      <label for="surname">Surname</label>
	      <input type="text" class="form-control" id="surname" name="surname" th:value="*{surname}" th:placeholder="${student.surname}">
	    </div>
	    <div class="form-group row">
	      <label for="dni">D.N.I.</label>
	      <input type="text" class="form-control" id="dni" name="dni" th:value ="*{dni}" th:placeholder="${student.dni}">
	    </div>
	    <div class="form-group row">
	      <label for="file">File</label>
	      <input type="text" class="form-control" id="file" name="file" th:value="*{file}" th:placeholder="${student.file}">
	    </div>
		<button formethod="POST" type="submit" class="btn btn-primary" style="margin-left:475px">Save student</button>
	</form>
</div>
</body>
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>